.fillet-window {
    border: 1px solid #cccccc;
    position: fixed;
    width: 300px;
    height: 300px;
    transition-property:  box-shadow;
    transition-duration: 2s;
    
}

.fillet-window-title {
    height: 32px;
    background-color: #E0E0E0;
}

.fillet_illuminate {
    box-shadow: 0px 0px 30px 0px rgba(255, 251, 0, 0.616);
    
}